html{
  font-size: 62.5%;
  max-width: 100vw;
}
body{
  font-size: 1.6rem;
  font-family: "Geist", "Geist Fallback";
  min-width: 32rem;
  min-height: 100vh;
  max-width: 144rem;
  width: 100%;
  padding: 1rem;
  margin: 0 auto; 
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.quadrado {
  background-color: springgreen;
  height: 50rem;
  width: 50rem;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 25%;
  }
}
