.loginContainer {
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #eeeeee;
  padding: 6vh;
  
}

.loginForm {
  background-color: #ffffff;
  padding: 3rem 2rem 2rem 2rem; /* mais espaço em cima */
  border-radius: 45px;
  box-shadow: 0 7px 20px rgba(8, 65, 221, 0.15);
  width: 600px;         /* mais largura */
  max-width: 90%;       /* se quiser responsivo */
  min-height: 650px;    /* força o formulário a esticar pra cima */
}

.loginTitle {
  margin-bottom: 1.5rem;
  color: #0263eb;
  font-size: 1.8rem;
  text-align: center;
}

.label {
 font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: #1c65cc;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.button {
  background-color: #1c65cc;
  color: #ffffff;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #183a6b;
}

.error {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
}
